In [1]:
import pandas as pd

In [2]:
movies_df = pd.read_csv(r"C:\Users\pc\OneDrive\Desktop\movie-hit-predictor\data_raw\tmdb_5000_movies.csv")
movies_df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [3]:
movies_credits = pd.read_csv(r"C:\Users\pc\OneDrive\Desktop\movie-hit-predictor\data_raw\tmdb_5000_credits.csv")
movies_credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [4]:
print("movies : ",movies_df.shape)
print("credits : ",movies_credits.shape)

movies :  (4803, 20)
credits :  (4803, 4)

In [5]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [6]:
movies_credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [7]:
movies_df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [8]:
movies_credits.columns

Index(['movie_id', 'title', 'cast', 'crew'], dtype='object')

In [9]:
merged_df = movies_df.merge(movies_credits,on='title')
merged_df.head(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [10]:
merged_df.shape

(4809, 23)

In [11]:
merged_columns = merged_df.columns.tolist()
print(merged_columns)

['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language', 'original_title', 'overview', 'popularity', 'production_companies', 'production_countries', 'release_date', 'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'vote_average', 'vote_count', 'movie_id', 'cast', 'crew']

In [12]:
import json

# Helper function using json.loads
def parse_json_col(col):
    try:
        return json.loads(col.replace("'", '"'))  # replace single quotes with double quotes for valid JSON
    except:
        return []

# Extract genres, director, and top 3 cast
clean_df = merged_df.copy()
clean_df['genres'] = clean_df['genres'].apply(lambda x: [d['name'] for d in parse_json_col(x)])
clean_df['director'] = clean_df['crew'].apply(lambda x: next((d['name'] for d in parse_json_col(x) if d.get('job')=='Director'), None))
clean_df['top_cast'] = clean_df['cast'].apply(lambda x: [d['name'] for d in parse_json_col(x)[:3]])

# Keep relevant columns
clean_df = clean_df[['title', 'budget', 'revenue', 'genres', 'director', 'top_cast', 
                     'popularity', 'vote_average', 'vote_count', 'release_date']]

# Preview
clean_df.head()

,title,budget,revenue,genres,director,top_cast,popularity,vote_average,vote_count,release_date
0,Avatar,237000000,2787965087,"[Action, Adventure, Fantasy, Science Fiction]",None,[],150.437577,7.2,11800,2009-12-10
1,Pirates of the Caribbean: At World's End,300000000,961000000,"[Adventure, Fantasy, Action]",Gore Verbinski,[],139.082615,6.9,4500,2007-05-19
2,Spectre,245000000,880674609,"[Action, Adventure, Crime]",None,[],107.376788,6.3,4466,2015-10-26
3,The Dark Knight Rises,250000000,1084939099,"[Action, Crime, Drama, Thriller]",None,[],112.312950,7.6,9106,2012-07-16
4,John Carter,260000000,284139100,"[Action, Adventure, Science Fiction]",Andrew Stanton,"[Taylor Kitsch, Lynn Collins, Samantha Morton]",43.926995,6.1,2124,2012-03-07

Handle missing values and datatypes

In [13]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         4809 non-null   object
 1   budget        4809 non-null   int64
 2   revenue       4809 non-null   int64
 3   genres        4809 non-null   object
 4   director      4074 non-null   object
 5   top_cast      4809 non-null   object
 6   popularity    4809 non-null   float64
 7   vote_average  4809 non-null   float64
 8   vote_count    4809 non-null   int64
 9   release_date  4808 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 375.8+ KB

In [14]:
clean_df['release_date'] = pd.to_datetime(clean_df['release_date'])
print(clean_df['release_date'].dtype)

datetime64[ns]

In [15]:
clean_df = clean_df.dropna(subset=['director'])
clean_df = clean_df.dropna(subset=['release_date'])

In [16]:
print(clean_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4074 entries, 1 to 4808
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         4074 non-null   object
 1   budget        4074 non-null   int64
 2   revenue       4074 non-null   int64
 3   genres        4074 non-null   object
 4   director      4074 non-null   object
 5   top_cast      4074 non-null   object
 6   popularity    4074 non-null   float64
 7   vote_average  4074 non-null   float64
 8   vote_count    4074 non-null   int64
 9   release_date  4074 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(3), object(4)
memory usage: 350.1+ KB
None

In [17]:
clean_df.head()

,title,budget,revenue,genres,director,top_cast,popularity,vote_average,vote_count,release_date
1,Pirates of the Caribbean: At World's End,300000000,961000000,"[Adventure, Fantasy, Action]",Gore Verbinski,[],139.082615,6.9,4500,2007-05-19
4,John Carter,260000000,284139100,"[Action, Adventure, Science Fiction]",Andrew Stanton,"[Taylor Kitsch, Lynn Collins, Samantha Morton]",43.926995,6.1,2124,2012-03-07
5,Spider-Man 3,258000000,890871626,"[Fantasy, Action, Adventure]",Sam Raimi,[],115.699814,5.9,3576,2007-05-01
6,Tangled,260000000,591794936,"[Animation, Family]",Byron Howard,"[Zachary Levi, Mandy Moore, Donna Murphy]",48.681969,7.4,3330,2010-11-24
10,Superman Returns,270000000,391081192,"[Adventure, Fantasy, Action, Science Fiction]",Bryan Singer,"[Brandon Routh, Kevin Spacey, Kate Bosworth]",57.925623,5.4,1400,2006-06-28

conversion to categorical columns

In [18]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

clean_df['director_encoded'] = le.fit_transform(clean_df['director'])

clean_df.head()

,title,budget,revenue,genres,director,top_cast,popularity,vote_average,vote_count,release_date,director_encoded
1,Pirates of the Caribbean: At World's End,300000000,961000000,"[Adventure, Fantasy, Action]",Gore Verbinski,[],139.082615,6.9,4500,2007-05-19,714
4,John Carter,260000000,284139100,"[Action, Adventure, Science Fiction]",Andrew Stanton,"[Taylor Kitsch, Lynn Collins, Samantha Morton]",43.926995,6.1,2124,2012-03-07,89
5,Spider-Man 3,258000000,890871626,"[Fantasy, Action, Adventure]",Sam Raimi,[],115.699814,5.9,3576,2007-05-01,1838
6,Tangled,260000000,591794936,"[Animation, Family]",Byron Howard,"[Zachary Levi, Mandy Moore, Donna Murphy]",48.681969,7.4,3330,2010-11-24,257
10,Superman Returns,270000000,391081192,"[Adventure, Fantasy, Action, Science Fiction]",Bryan Singer,"[Brandon Routh, Kevin Spacey, Kate Bosworth]",57.925623,5.4,1400,2006-06-28,255

In [19]:
print(clean_df['director_encoded'].nunique())

2187

In [20]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()

genres_encoded = pd.DataFrame(
    mlb.fit_transform(clean_df['genres']),
    columns=mlb.classes_,
    index=clean_df.index
)

In [21]:
genres_encoded.head()

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,Foreign,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
1,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
5,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
6,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
10,1,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0

In [22]:
# 4️⃣ Extract year and month from release_date
# -----------------------------
clean_df['release_year'] = clean_df['release_date'].dt.year
clean_df['release_month'] = clean_df['release_date'].dt.month

In [23]:
clean_df.head()

,title,budget,revenue,genres,director,top_cast,popularity,vote_average,vote_count,release_date,director_encoded,release_year,release_month
1,Pirates of the Caribbean: At World's End,300000000,961000000,"[Adventure, Fantasy, Action]",Gore Verbinski,[],139.082615,6.9,4500,2007-05-19,714,2007,5
4,John Carter,260000000,284139100,"[Action, Adventure, Science Fiction]",Andrew Stanton,"[Taylor Kitsch, Lynn Collins, Samantha Morton]",43.926995,6.1,2124,2012-03-07,89,2012,3
5,Spider-Man 3,258000000,890871626,"[Fantasy, Action, Adventure]",Sam Raimi,[],115.699814,5.9,3576,2007-05-01,1838,2007,5
6,Tangled,260000000,591794936,"[Animation, Family]",Byron Howard,"[Zachary Levi, Mandy Moore, Donna Murphy]",48.681969,7.4,3330,2010-11-24,257,2010,11
10,Superman Returns,270000000,391081192,"[Adventure, Fantasy, Action, Science Fiction]",Bryan Singer,"[Brandon Routh, Kevin Spacey, Kate Bosworth]",57.925623,5.4,1400,2006-06-28,255,2006,6

In [26]:
clean_df['top_cast_count'] = clean_df['top_cast'].apply(len)

In [29]:
clean_df.head(5)

,title,budget,revenue,genres,director,top_cast,popularity,vote_average,vote_count,release_date,director_encoded,release_year,release_month,top_cast_count
1,Pirates of the Caribbean: At World's End,300000000,961000000,"[Adventure, Fantasy, Action]",Gore Verbinski,[],139.082615,6.9,4500,2007-05-19,714,2007,5,0
4,John Carter,260000000,284139100,"[Action, Adventure, Science Fiction]",Andrew Stanton,"[Taylor Kitsch, Lynn Collins, Samantha Morton]",43.926995,6.1,2124,2012-03-07,89,2012,3,3
5,Spider-Man 3,258000000,890871626,"[Fantasy, Action, Adventure]",Sam Raimi,[],115.699814,5.9,3576,2007-05-01,1838,2007,5,0
6,Tangled,260000000,591794936,"[Animation, Family]",Byron Howard,"[Zachary Levi, Mandy Moore, Donna Murphy]",48.681969,7.4,3330,2010-11-24,257,2010,11,3
10,Superman Returns,270000000,391081192,"[Adventure, Fantasy, Action, Science Fiction]",Bryan Singer,"[Brandon Routh, Kevin Spacey, Kate Bosworth]",57.925623,5.4,1400,2006-06-28,255,2006,6,3